.userForm{
	border: 2px solid #F3F3F3;
	border-radius: 8px;
	padding: 15px;
	&__error{
		color: red;
	}
	&__label{
		margin-bottom: 4px;
	}
	&__input{
		outline: 0;
		background: 0;
		width: 30%;
		margin-bottom: 10px;
		padding: 5px 10px;
		border: 1px solid #D8D8D8;
		border-radius: 5px;
		&:disabled{
			color: #0000004D;
		}
			&_comment{
				width: 100%;
			}
	}
}